<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Edit Dose</h1>

      <%= simple_form_for(@dose) do |f| %>
        <%= f.input :description %>
        <%= f.input :ingredient_id, collection: Ingredient.all %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>

      <%= link_to 'Back', cocktail_path(@dose.cocktail), class: 'btn btn-default' %>

    </div>
  </div>
</div>
